:root {
  --colReact: #61dafb;
  --coldarkgray: #333;
}

html {
  box-sizing: border-box;
  /* font-size: 62.5%; */
  font-family: 'Open Sans', sans-serif;
  /* font-weight: 400; */
}

*,
*:before,
*:after {
box-sizing: inherit;
}

body {
  background: var(--coldarkgray);
}

.container {
  width: 100%;
  margin: 0;
  background: var(--colReact);
  color: white;
  text-align: center;
  padding: 2rem;
}